# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=  # Public key for Clerk authentication
CLERK_SECRET_KEY=  # Secret key for Clerk authentication

# UploadThing Configuration
UPLOADTHING_SECRET=  # Secret key for UploadThing
UPLOADTHING_APP_ID=  # UploadThing application ID

# PostgreSQL Database Configuration
POSTGRES_HOST=  # Host address for PostgreSQL database
POSTGRES_PORT=  # Port number for PostgreSQL database
POSTGRES_USER=  # Username for PostgreSQL database
POSTGRES_PASSWORD=  # Password for PostgreSQL database
POSTGRES_DB=  # Database name for PostgreSQL
DATABASE_URL=  # URL for connecting to the PostgreSQL database

# LiveKit Configuration
LIVEKIT_API_KEY=  # API key for LiveKit integration
LIVEKIT_API_SECRET=  # API secret for LiveKit integration
NEXT_PUBLIC_LIVEKIT_URL=  # Public URL for LiveKit WebSocket connection
